.container
  .col.s12.m6
    .card.white
      .card-content.black-text
        %p= simple_format(article.text)
      .card-action
        = link_to "詳細", "/blogs/#{article.id}/", method: :get, class: "btn blue accent-3"
        = link_to "編集", "/blogs/#{article.id}/edit", method: :get, class: "btn blue accent-3"
        = link_to "削除", "/blogs/#{article.id}", method: :delete, class: "btn blue accent-3 delete"
        %span.name
          更新日時：#{article.updated_at.to_formatted_s(:date)}   投稿者：#{article.user.nickname}
