.container
  .row
    .card.white.col.s12
      .card-content.black-text.no-padding
        .title 
          件名： 
          = article.title
        .text
          = article.text
        .images.row
          - if article.images.first.present?
            = image_tag article.images.first.image.url, class: "col s8  l5 card__image" 
          - if article.images.second.present?
            = image_tag article.images.second.image.url, class: "col s8  l5 card__image"

      .card-action
        = link_to "詳細", "/blogs/#{article.id}", method: :get, class: "btn blue accent-3"
        = link_to "編集", "/blogs/#{article.id}/edit", method: :get, class: "btn blue accent-3"
        = link_to "削除", "/blogs/#{article.id}", method: :delete, class: "btn blue accent-3 delete"
        %span.card-action__name
          = render partial:'like', locals: {article: article}
          更新日時：#{article.updated_at.to_formatted_s(:date)}   投稿者：#{article.user.nickname}
