.container
  .col.s12.m6
    .card.white
      .card-content.black-text
        %p
          = simple_format(article.text)
        .images
          - if article.images.first.present?
            = image_tag article.images.first.image.url, class: "card__image"
          - if article.images.second.present?
            = image_tag article.images.second.image.url, class: "card__image"

      .card-action
        = link_to "詳細", "/blogs/#{article.id}", method: :get, class: "btn blue accent-3"
        = link_to "編集", "/blogs/#{article.id}/edit", method: :get, class: "btn blue accent-3"
        = link_to "削除", "/blogs/#{article.id}", method: :delete, class: "btn blue accent-3 delete"
        %span.card-action__name

          更新日時：#{article.updated_at.to_formatted_s(:date)}   投稿者：#{article.user.nickname}
