.container
  .col.s12.m6
    .card.white
      .card-content.black-text
        %p
          = simple_format(article.text)
        .images
          = image_tag "https://static.mercdn.net/item/detail/orig/photos/m68682806112_1.jpg?1563187497", class: "card__image"
          = image_tag "https://www.bennetts.co.uk/-/media/bikesocial/2019-january-images/honda-cbr650r-and-cb650r-review/2019-honda-cb650r-and-cbr650r-review_037.ashx?h=493&w=740&la=en&hash=A658BDC1163F5C22F9B75CB051AF801979DD3FC6", class: "card__image"

      .card-action
        = link_to "詳細", "/blogs/#{article.id}", method: :get, class: "btn blue accent-3"
        = link_to "編集", "/blogs/#{article.id}/edit", method: :get, class: "btn blue accent-3"
        = link_to "削除", "/blogs/#{article.id}", method: :delete, class: "btn blue accent-3 delete"
        %span.card-action__name

          更新日時：#{article.updated_at.to_formatted_s(:date)}   投稿者：#{article.user.nickname}
