
= render partial: "article", locals: {article: @article}

.container.no-padding
  .row
    .col.s12.l11.no-padding
      - if current_user
        = form_tag("/blogs/#{@article.id}/comments", method: :post, id: "new_comment") do
          %textarea.comment-form{name: "text", placeholder: "コメントする"}
          %input{type: "submit", value: "コメント", class: "white-text blue accent-3 col s12  send"}
    .comments.col.s12.l11.no-padding
      %h5 コメント一覧
      - if @comments
        - @comments.each do|comment|
          .comment-contents
            = link_to comment.user.nickname, "/users/#{comment.user_id}"
            ：
            = comment.text