<div class="col s12" style="margin: 100px auto; width: 400px;">
  <div class="card grey lighten-4 row col s12">
    <div class="contents">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

        <div class="input-field">
          <%= f.label :"ユーザー名 (英数字6文字以下)" %> <em style="font-size: 12px; color: grey;"></em>
          <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
        </div>

        <div class="input-field">
          <%= f.label :"メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="input-field">
        <%= f.label :"パスワード (英数字6文字以上)"%>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password"%>
        </div>

        <div class="input-field">
        <%= f.label :"パスワード(確認用)"  %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: "btn-large blue accent-3 submit-margin col s12" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
