<div class="content-row col s12">
  <h2 style="margin-bottom: 50px;">Forgot your password?</h2>
  <div class="card grey lighten-4 row col s12">
    <div class="contents">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

       <div class="input field">
         <%= f.label :email, class: :label %>
           <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
       </div>

       <div class="actions">
         <%= f.submit "Send me",class: " btn-large blue accent-3 submit-margin col s12" %>
       </div>
      <% end %>
    </div>
  </div>

  <div class="signup-absolute">
    <%= render "devise/shared/links" %>
  </div>
</div>
