.sidebar.col.s12.m12.l3
  .card
    .card__user
      %i.material-icons> wc
      %span
        ユーザー一覧
    = search_form_for @q, url: blogs_path  do |f|
      = f.search_field :title_cont, class: "search-form",placeholder: "件名で検索"
      .card__maker
        .title
          %i.material-icons> done
          %spanメーカー
        .card__maker-list
          = f.collection_check_boxes(:makers_id_in, Maker.all, :id, :name)
      .card__displacement
        .title
          %i.material-icons> done
          %span排気量
        .card__displacement-list.col.s12
          = f.collection_check_boxes(:displacements_id_in, Displacement.all, :id, :cc)
      .card__type
        .title
          %i.material-icons> done
          %spanタイプ
        .card__type-list
          = f.collection_check_boxes(:types_id_in, Type.all, :id, :name)

      .search-buttons
        %input{type: "reset", value: "クリア", class: "search-buttons__reset"}
        = f.submit '検索', class: 'search-buttons__submit'
    .card__ranking
      %i.material-icons> grade
      %span
        投稿ランキング
      - @ranking.each.with_index(1) do |article,i|
        = link_to blog_path(article) do
          .rankingbox
            .rankingbox__number
              = i
            .rankingbox__image
              .image-title
                = article.title
                .like
                  %i.material-icons thumb_up
                  .like__count
                    = article.likes.count

              - if article.images.first.present?
                = image_tag article.images.first.image.url, class: "thumbs" 
